:root {
  /* background-colors */
  --bg-dark: #212121; /* Main Background */
  --bg-surface: #323232; /* Section/Card Background */
  --bg-section-marker: #1a1a1a; /* section-marker-bg */

  /* Primary and Secondary */
  --accent-primary: #14ffec; /* Bright Cyan (Buttons/Links) */
  --accent-secondary: #0d7377; /* Deep Teal (Borders/Details) */

  /* text-color */
  --text-main: #ffffff; /* Primary Text */
  --text-muted: #a0a0a0; /* Secondary/De-emphasized Text */

  /* Font-Family */
  --poppins-headings: "Poppins", sans-serif;
  --inter-body: "Inter", sans-serif;
  --fira-code-logo: "Fira Code", monospace;
  --jetbrains-mono-logo: "JetBrains Mono", monospace;

  /* Font Sizes */
  --fs-sm: 0.875rem; /* 14px */
  --fs-base: 1rem; /* 16px */
  --fs-md: 1.125rem; /* 18px */
  --fs-lg: 1.5rem; /* 24px */
  --fs-xl: 2rem; /* 32px */

  /* padding-gap-margin */
  --pad-gap-margin-sm: 0.5rem;
  --pad-gap-margin-md: 1rem;
  --pad-gap-margin-lg: 1.5rem;
  --pad-gap-margin-xl: 2rem;

  /* border-radius */
  --border-radius-sm: 0.5rem;
  --border-radius-md: 0.8rem;
  --border-radius-lg: 1rem;

  /* border*/
  --theme-border: 1px solid var(--accent-secondary);
}

/* ----- Basic Reset ---- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

img {
  max-inline-size: 100%;
  display: block;
  height: auto;
}

input,
label,
textarea {
  font-family: inherit;
  font-size: inherit;
  display: block;
  inline-size: 100%;
}

button {
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
}

table {
  border-collapse: collapse;
}

.table-wrapper {
  overflow-x: auto;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-main);
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
  font-family: var(--poppins-headings);
}

.logo__text {
  font-family: var(--fira-code-logo);
}

section {
  padding-block: var(--pad-gap-margin-md);
}

::selection {
  background-color: var(--accent-primary);
  color: var(--bg-dark);
}

:focus-visible {
  outline: 3px solid var(--accent-primary);
  outline-offset: 5px;
}

body {
  line-height: 1.5;
  font-family: var(--inter-body);
  color: var(--text-main);
  background-color: var(--bg-dark);
}

.layout {
  inline-size: min(90%, 1250px);
  margin-inline: auto;
  padding-block: var(--pad-gap-margin-md);
}

/* ---- header > logo ---- */
